body {
	background-image: url("./img/shizuku.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: HYTMR,"sans-serif"
}

/* 主容器 */
#main {
	width: 50vw;
	height: 70vh;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 1em;
	z-index: 1;
}

/* 对话框 */
#chat-box {
	width: calc(45vw - 2em);
	height: calc(50vh - 2em);
	border: #ffffff solid 2px;
	border-radius: 1em;
	margin-top: 2.5vh;
	margin-left: 2.5vw;
	padding: 1em;
	overflow-y: scroll;
}

/* 对话框滑动条 */
#chat-box::-webkit-scrollbar {
	width: 0.5em;
}

#chat-box::-webkit-scrollbar-track {
	opacity: 100%;
}

#chat-box::-webkit-scrollbar-thumb{
	background-color: #ffffff;
	border-radius: 6px;
	border: 2px solid #00000000;
	background-clip: content-box;
}

#chat-box::-webkit-scrollbar-thumb:hover{
	background-color: #dddddda0;
}

/* 对话区气泡 */
.chat {
	width: 35vw;
	color: #ffffff;
	margin-bottom: 5vh;
}

.chat-server {
	background-color: #3b3b3b;
	padding: 0.5em;
	border-radius: 0 1em 1em 1em;
}

.chat-user {
	background-color: #0066cc;
	padding: 0.5em;
	margin-left: auto;
	border-radius: 1em 1em 0 1em;
}

.chat-log {
	/*background-color: #3b3b3b;*/
	padding: 0.5em;
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em 1em 1em 1em;
}

.chat-server > span {
	color: #00aa00;
}

.chat-user > span {
	color: #ffaa40;
}

.chat-log > span {
	color: #00ffff;
}

/* 输入区 */
#input-box {
	width: 45vw;
	height: 10vh;
	border: #ffffff solid 2px;
	border-radius: 1em;
	margin-top: 2.5vh;
	margin-left: 2.5vw;
	display: flex;
}

/* 输入框 */
#input-box > #input-text {
	flex: 8;
	margin: 2vh 1vh 2vh 2vh;
}

/* 发送按钮 */
#input-box > #input-btn {
	flex: 2;
	margin: 2vh 2vh 2vh 1vh;
}


/* 发送按钮图标 */
.tabler--send {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 14L21 3m0 0l-6.5 18a.55.55 0 0 1-1 0L10 14l-7-3.5a.55.55 0 0 1 0-1z'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

/* 自定义字体 */
@font-face {
    font-family: 'HYTMR';
    font-display: swap;
    src: url('https://npm.elemecdn.com/fontcdn-ariasaka@1.0.0/HYTangMeiRen55W.woff2') format("woff2");
}